c_implementation/build/*
!c_implementation/build/.gitkeep

matlab/slprj
matlab/__pycache__
matlab/*.asv
matlab/*.mexw64
matlab/*.slxc
matlab/osqp_c_code/build
matlab/*.autosave
matlab/modele_V6_grt_rtw
matlab/*.bak
matlab/post_processing/*.asv

checker/__pycache__/*